*, *::before, *::after {
  background-color: rgb(234, 194, 245);
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  margin:0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  text-align: center;
  font-size: large;
  user-select: none;
}

p:hover,
.button:hover {
  cursor: pointer;
}

.calculator {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: minmax(40px, auto) repeat(5, 50px);
  gap: 8px;
  background-color: rgb(186, 93, 214);
  border-radius: 10px;
  padding: 20px;
}

/* SCREEN */

.calculator_screen {
  grid-column: span 4;
  padding: 10px 15px 20px 15px;
  margin-bottom: 10px;
  height: 100px;
  background-color: rgb(234, 194, 245);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: inset 0 0 5px rgb(133, 55, 157);
  word-wrap: break-word;
    word-break: break-all;
}

.calculator_sequence {
  box-sizing: border-box;
  color: grey;
  display: flex;
  justify-content: right;
  padding-right: 5px;
  user-select: none;
}

.result {
  box-sizing: border-box;
  font-size: 2.5rem;
  user-select: none;
  display: flex;
  justify-content: right;
}

/* BUTTONS */

.button_equal {
  grid-column: span 3
}

.button {
  background-color: rgb(234, 194, 245);
  border-radius: 5px;
  box-shadow: 2px 2px 10px -1px rgb(133, 55, 157);
}


/* background bubbles */
/*
.bubbleContainer1 {
  position: absolute;
  height: 100vh;
  width: 100vh;
  top: -40px;
  left: 72%;
  z-index: -1;
}

.bubble {
  border-radius: 50%;
  background-color: rgb(228, 121, 234, 0.4);
  filter: blur(1px);
}

.bubble-front-1 {
  position: relative;
  height: 400px;
  width: 400px;
  top: 200px;
  left: -100px;
  z-index: 1;
  animation: float1 13s ease-in-out infinite;
}

.bubble-front-2 {
  height: 110px;
  width: 110px;
  position: relative;
  z-index: 1;
  top: 200px;
  left: 122px;
  animation: float2 10s ease-in-out infinite;
}

.bubble-front-3 {
  height: 200px;
  width: 200px;
  position: relative;
  top: -300px;
  right: 230px;
  z-index: 2;
  animation: float3 11s ease-in-out infinite;
}

@keyframes float1 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(100px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(150px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float3 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(40px);
  }
  100% {
    transform: translatey(0px);
  }
}
